      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>

<div class="wrap">
  
  <header class="header side">
    
    <h1 class="brand"><a href="{{ site.baseurl }}">Ace Personal Trainer</a></h1>
    
    <nav class="menu">
      
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="single-article.html">All Articles</a>
          <ul>
            <li><a href="#">Training</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Tips 'n Tricks</a></li>
            <li><a href="#">Inspiration</a></li>
          </ul>
        </li>
        <li><a href="#">Search</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      
    </nav>
    
    <div class="header-foot">
      <p class="copy">© 2015 ACE - All Rights Reserved</p>
      <a href="http://simongustafsson.com" class="d-logo-simon">Design by<span class="simon-logo"></span></a>
    </div>
    
  </header>
